/*? ------- FUENTES ---------*/


@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Trade+Winds&display=swap');


/*? ------- RESET ---------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*! ------- HEADER ---------*/

header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: #333333d5;
    /* fondo*/
}



Nav ul li {
    Display: inline-block;
    margin: 0 6px;
    text-shadow: 10px 01px 10px #000000;
}

.barra {
    list-style: none;
    text-align: end;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;

}

header nav ul li a {
    text-decoration: none;
    color: rgb(249, 249, 249);
    font-size: 20px;
}

h1 {
    color: #dfdfde;
    font-family: "Trade Winds", system-ui;
    font-size: larger;
    margin-left: 2%;
    text-shadow: 2px 2px 4px #000000;
    line-height: 1.2;
    width: 20%;
}

/*! ------- MAIN ---------*/

.inicio {
    display: flex;
    /* Convierte el contenedor en un Flexbox */
    height: 560px;
    align-items: center;
}

.llamada-a-la-accion {
    margin-top: 5%;
    margin-left: 5%;
}

body {
    width: 100%;
    background-image: url(../img/unnamed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

main {
    width: 100%;
    flex-grow: 1;
}

.boton-cta {
    background-color: #821805;
    /*coloer de fondo del boton*/
    color: white;
    /* Color del texto */
    padding: 15px 30px;
    text-decoration: none;
    /* Quitar el subrayado  */
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    /* texto mayúsculas */
    margin-top: 10px;
    /* Un poco de espacio arriba para separarlo del título */
    transition: background-color 0.3s ease;
    /* Transición al pasar el mouse */
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
}

.boton-cta:hover {
    background-color: lab(59.36% 31.97 65.48);
    /*color secundario cuando paso el mouse */
}

.invitacion {
    font-size: 60px;
    color: rgb(176, 6, 6);
    font-family: "Trade Winds", system-ui;
    font-style: oblique;
    text-shadow: 2px 10px 20px #000000;
    width: 70%;
}

.invitacion p {
    color: #d75606;
    font-size: 130px;
    letter-spacing: 10px;
    text-shadow: 2px 10px 20px #000000;
}

.hwarang {
    color: #d77606;
    font-size: 120px;
}

.carousel {
    width: 32%;
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.carousel-inner,
.carousel-item,
.carousel-item img {
    height: 100%;
    /* Asegura que las imágenes ocupen todo el alto del contenedor */
    object-fit: cover;
    /* Recorta la imagen para que cubra el espacio sin deformarse */
    border-radius: 5px;
}



/* ----------------------------------- body NOSOTROS*---------------------------*/

.bodynosotros {
    background-image: url(../img/unnamed.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

h2 {
    color: lab(59.36% 31.97 65.48);
}

.container {
    margin: 3%;
    color: #ffffff;
    text-align: left;
    text-shadow: 2px 10px 20px #000000;
    font-size: 20px;
    line-height: 1;
    font-family: "Trade Winds", system-ui;
    display: grid;
    grid-template-columns: repeat(1fr 1.2fr 0.8fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "arriba . imagenhwarang"
        "imagenahora abajo imagenhwarang"
}

.arriba {
    grid-area: arriba;
    background-color: #000000c7;
    border-radius: 2%;
    text-align: center;
    justify-self: center;
    align-self: center;

}

.abajo {
    grid-area: abajo;
    background-color: #000000c7;
    border-radius: 2%;
    text-align: center;
    margin-top: 3vh;

}

.imagenahora {
    grid-area: imagenahora;
    display: flex;
    justify-content: center;
    align-self: center;
    width: auto;
    margin-top: 3vh;
    object-fit: cover;
    /* Recorta la imagen para que cubra el espacio sin deformarse */
    border-radius: 20px;
    height: 40vh;

}

.imagenhwarang {
    grid-area: imagenhwarang;
    display: flex;
    justify-content: center;
    align-self: last baseline;
    height: 300px;
    margin-top: 3vh;

}

/* ----------------------------------- body servicios*-------------------------------------------------------------------*/

.bodyservicios {
    background-image: url(../img/unnamed.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-color: #821805;
}

.containerservicios {
    display: grid;
    height: 470px;
    margin: 3%;
    text-align: left;
    text-shadow: 2px 10px 20px #000000;
    font-size: 20px;
    /* Hace el texto más grande y legible */
    line-height: 1;
    /* Aumenta el espacio entre líneas para que no se vean amontonadas */
    font-family: "Trade Winds", system-ui;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "cincoaños Competencia"
        "jovenes Competencia"
        "adultos Competencia";

}

.cincoaños {
    text-align: center;
    display: flex;
    display: block;
    align-content: center;
    color: #ffffff;
    background-color: #000000c7;
    border-radius: 2%;
    justify-self: start;
    align-self: center;
    grid-area: cincoaños;
    width: 90%;
    height: 90%;
}


.jovenes {
    text-align: center;
    display: flex;
    display: block;
    align-content: center;
    color: #ffffff;
    background-color: #000000c7;
    border-radius: 2%;
    justify-self: start;
    align-self: center;
    grid-area: jovenes;
    width: 90%;
    height: 90%;
}

.adultos {
    text-align: center;
    display: flex;
    display: block;
    align-content: center;
    color: #ffffff;
    background-color: #000000c7;
    border-radius: 2%;
    justify-self: start;
    align-self: center;
    grid-area: adultos;
    width: 90%;
    height: 90%;
}

.Competencia {
    text-align: center;
    justify-self: center;
    color: #ffffff;
    border-radius: 4%;
    background-color: #000000c7;
    align-self: center;
    grid-area: Competencia;
    width: 90%;
}

.cincoaños,
.jovenes,
.adultos,
.Competencia {
    transition: transform 0.3s ease;
}

.cincoaños:hover,
.jovenes:hover,
.adultos:hover,
.Competencia:hover {
    transform: scale(1.05);
}

/* ----------------------------------- body biblioteca*-------------------------------------------------------------------*/
.bodybiblioteca {
    background-image: url(../img/unnamed.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    background-color: #821805;
}


.containerbiblioteca {
    padding: 5px;
    font-family: "Trade Winds", system-ui;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.7fr 1.3fr 1fr;
    gap: 1% 1%;
    grid-auto-flow: row;
    grid-template-areas:
        "biblioteca  biblioteca"
        "pdf videos"
        "pdf videos";
}


.biblioteca {
    color: #ffffff;
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-area: biblioteca;
    width: 90%;
    border-radius: 4%;
    background-color: #00000085;
}

.biblioteca h2 {
    color: #ffffff;
    padding: 5px;
    font-size: 3vh;
}

.pdf {
    display: flex;
    /* Habilita el flexbox */
    flex-direction: column;
    /* Apila los elementos verticalmente */
    justify-content: center;
    /* Centra el contenido verticalmente */
    align-items: center;
    /* Centra el contenido horizontalmente */
    width: 100%;
    height: 100%;
}

.pdf h2 {
    justify-self: center;
    align-self: center;
    text-align: center;
    color: #ffffff;
    background-color: #00000085;
}

.boton-descarga {
    background-color: #821805;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    border: none;
    cursor: pointer;
}

.boton-descarga:hover {
    background-color: lab(59.36% 31.97 65.48);
    color: #821805;
}


.videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1% 1%;
    grid-auto-flow: row;
    grid-template-areas:
        "chonji dangun dosan"
        "whonhyo yulgok joonggun"
        "toigye hwarang choongmoo";
    grid-area: videos;
}

.chonji {
    grid-area: chonji;
}

.dangun {
    grid-area: dangun;
}

.dosan {
    grid-area: dosan;
}

.whonhyo {
    grid-area: whonhyo;
}

.yulgok {
    grid-area: yulgok;
}

.joonggun {
    grid-area: joonggun;
}

.toigye {
    grid-area: toigye;
}

.hwarang {
    grid-area: hwarang;
}

.choongmoo {
    grid-area: choongmoo;
}

.videos iframe {
    transition: transform 0.3s ease-in-out;
    /* Suaviza la transición del zoom */
    display: block;
    height: auto;
}

.videos iframe:hover {
    transform: scale(1.05);
}


/* ----------------------------------- body contacto*-------------------------------------------------------------------*/

.bodycontacto {
    background-image: url(../img/unnamed.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.9fr 1.1fr 1fr;
    gap: 05px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "cta_contacto cta_contacto cta_contacto cta_contacto"
        "face insta mapa mapa"
        "wsp mail mapa mapa";
}

.cta_contacto h2 {
    grid-area: cta_contacto;
    align-self: center;
    color: #ffffff;
    background-color: #00000085;
    border-radius: 4%;


}

.face {
    grid-area: face;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insta {
    grid-area: insta;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wsp {
    grid-area: wsp;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mail {
    grid-area: mail;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa {
    grid-area: mapa;
    display: flex;
    justify-content: center;
}


.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.9fr 1.1fr 1fr;
    gap: 05px 5px;
    grid-auto-flow: row;
    grid-template-areas:
    "cta_contacto cta_contacto cta_contacto cta_contacto"
    "face insta mapa mapa"
    "wsp mail mapa mapa";
}

.cta_contacto {
    grid-area: cta_contacto;
    text-align: center;
    

}

.redes-sociales img,
.container img {
    width: 70px;
    height: 70px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}







/*! ------- FOOTER---------*/
footer {
    background-color: #333333d5;
    /* fondo*/
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    /* Ocupa todo el ancho */
    position: relative;
    /* posición relativa para que los elementos hijos se posicionen */
    background-position: bottom;
}

.footer-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-contenido p {
    margin-bottom: 9px;
    /* espacio debajo del texto */
    font-family: "Poppins", sans-serif;
    font-size: 10 px;
}

.redes-sociales a img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    /* spacio entre los iconos */
    transition: transform 0.3s ease;
}

.redes-sociales a img:hover {
    transform: scale(1.1);
}