//variables
// Colores y transparencias
$fondo-header-footer: #33333381; // Fondo semi-transparente para header y footer
$color-titulo: #dfdfde; // Color del texto principal del título (H1)
$color-shadow-titulo: #000000; // Color de la sombra del título
$color-shadow-nav: #a82b2b; // Color de la sombra del texto de la navegación

// Fuentes
$fuente-titulo: "Trade Winds", system-ui;
$fuente-nav: "Bebas Neue", sans-serif;